/* this is how u can import assets to your stylesheet. */ 
@import url("https://fonts.googleapis.com/css?family=Muli:400,700");


body {
    /* 
    you dont really need this, since its white by default. 
    im doing this just to show u how u can add background colors
    */
    background: white;
}
.border {
    padding: 30px 30px 30px 30px;
    margin: 20px 20px 20px 20px;
    background-color: #eee;
    border: 1px;
    border-width: 10px;
    border-radius: 10px;
    border-color: #eee;
    float: left;
    min-width: 100px;
    max-width: 400px;
    min-height: 300px;
}
.logo {
    min-width: 100px;
    max-width: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
    }
.round-logo {
    border-radius: 50%;
}
.muli-font {
    font-family: 'Muli', sans-serif;
    text-rendering: optimizeLegibility;
    color: #2E4053;
}
 p {font-size:25px;
}
.button {
    border-radius: 5px;
    background-color: #1ABC9C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
   padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
